// Button
.button {
  width: 100%;
  &-sml {
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 1.3rem;
  }
  &-lrg {
    padding: 20px;
    font-size: 2.5rem;
    border-radius: 20px;
    font-family: $font-header;
  }
  &-drk {
    background-color: $color-primary;
    color: $color-light;
    border: 2px solid $color-primary;
    &:hover {
      background-color: $color-light;
      color: $color-primary;
    }
  }
  &-wht {
    background-color: $color-light;
    color: $color-primary;
    border: 2px solid $color-light;
    &:hover {
      background-color: $color-primary;
      color: $color-light;
    }
  }
  &-wht-border {
    background-color: $color-light;
    color: $color-primary;
    border: 2px solid $color-primary;
    &:hover {
      background-color: $color-primary;
      color: $color-light;
    }
  }
}

.active {
  color: $color-links !important;
  text-decoration: underline;
}

.active-toggle {
  text-decoration: underline;
}

//delete
.deleteButton {
  background-color: $color-light;
  padding: 10px;
  font-size: 1.3rem;
  color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 5px;
  &:hover {
    background-color: $color-primary;
    color: $color-light;
  }
}

// Spinner
.text-dark {
  color: $color-primary !important;
}
.spinner-border {
  margin: 20px auto 0 auto;
  width: 3rem;
  height: 3rem;
  border-width: 0.35rem;
  justify-self: center;
  grid-column: 1 / 4;
  display: block;
}

.spinner {
  padding-top: 20px;
  display: grid;
  justify-items: center;
  align-self: center;
  justify-self: center;
  grid-column: 1 / 4;
}

// Emojis
.emoji {
  font-size: 2rem;
}

//Shadows

.register__container,
.button-lrg,
.feed__post--container,
.navbar,
.feed__container--profiles-cards,
.profile__container--info-detail,
.profile__container--posts-cards,
.post__container,
.form__container {
  box-shadow: $color-shadow 0px 3px 5px;
}
