.edit__profile--container {
  background-color: $color-light;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  h1 {
    margin-bottom: 20px;
  }
  img {
    justify-self: center;
  }
}

.edit__profile--info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  @media (max-width: $breakpoint-sml) {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    overflow: hidden;
  }
}

.edit__profile--avatar {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  @media (max-width: $breakpoint-sml) {
    width: 150px;
    height: 150px;
  }
}

.edit__profile--name {
  grid-column: 2 / 4;
  @media (max-width: $breakpoint-sml) {
    grid-column: 1 / 2;
    text-align: center;
  }
}
.edit__profile--email {
  @media (max-width: $breakpoint-sml) {
    grid-column: 1 / 2;
    text-align: center;
  }
}
