.feeds__container {
  margin: 0 auto;
  max-width: 1200px;
  gap: 20px;
  padding: 20px;
}

.feed__container--posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feed__container--profiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  a:hover {
    text-decoration: none;
  }
  @media (max-width: $breakpoint-mdm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $breakpoint-sml) {
    grid-template-columns: 1fr;
  }
}

.post--image {
  width: 100%;
  grid-column: 1 / 4;
}

.feed__post--container {
  background-color: $color-light;
  border-radius: 20px;
  padding: 30px 80px 60px 80px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  @media (max-width: $breakpoint-mdm) {
    padding: 30px;
  }
}

.feed__container--profiles-cards {
  background-color: $color-light;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  h3 {
    margin: 60px auto 10px auto;
  }
}

.feed__post--avatar {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  grid-column: 1 / 2;
  object-fit: cover;
}

.feed__post--heading,
.feed__post--body {
  grid-column: 1 / 4;
}

.feed__post--author {
  font-size: 1.2rem;
  align-self: center;
  overflow: hidden;
}

.discover__post--reactions {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  .emoji {
    font-size: 2rem;
  }
}

.discover__post--reactions-number {
  align-self: center;
}

.discover__post--comments {
  align-self: center;
}

.discover__container {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  @media (max-width: $breakpoint-sml) {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.feed__profile--avatar {
  width: 100px;
  height: 100px;
  margin: -50px;
  border-radius: 50%;
}

.feed__profile--banner {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

// toggle

.feed__button--container {
  grid-column: -1/1;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  @media (max-width: $breakpoint-mdm) {
    grid-template-columns: 1fr;
  }
}
